.filter {
  padding: 3.5rem;
  background-color: $bg-color-light;

  &__content {
    @include flexContainer(column, unset, center);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    gap: 5rem;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__field {
    @include flexContainer(column, unset, flex-start);
    width: 100%;
    max-width: 245px;

    @media (min-width: $breakpoint-md) {
      justify-content: flex-end;
    }
  }

  &__icon {
    margin-bottom: 1.5rem;
  }

  &__label {
    margin-bottom: 2.5rem;
    line-height: 2.2rem;
  }
}
