.results {
  padding: 3.5rem 3.5rem 7.5rem 3.5rem;

  &__content {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    z-index: 1;
  }

  &__illustration {
    width: 146px;
    height: 72px;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.9rem;
    color: $title-color-dark;
    margin-bottom: 1.6rem;
  }

  &__wrapper {
    width: calc(100% + 7rem);
    margin-left: -3.5rem;
    margin-right: -3.5rem;
    padding: 0 3.5rem 6rem;
    overflow-x: scroll;

    @media (min-width: $breakpoint-lg) {
      overflow: visible;
    }
  }
}
