* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // 1rem = 10px
  overflow-x: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: $text-color;
  background-color: $bg-color;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  border: none;
  background: none;
}
input,
textarea {
  border: none;
  outline: none;
}
img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }
  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }
  @media (min-width: $breakpoint-lg) {
    max-width: 900px;
  }
}

.hidden {
  display: none !important;
}
