@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

@import "./reset";
@import "./variables";
@import "./mixins";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: $text-color;
  background-color: $bg-color;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }
  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }
  @media (min-width: $breakpoint-lg) {
    max-width: 900px;
  }
}

@import "./components/hero";
